@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Poppins:wght@400;700&family=Source+Sans+Pro:ital,wght@1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  padding: 20px;
}

.hero__intro {
  padding: 10px;
}

.card_small {
  width: 400px;
  height: 400px;
  margin-left: 80px;
}
